
<% if flash[:notice].present? %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:alert].present? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<div class="d-flex align-items-center justify-content-center">
  <h1>Recipe Anonymous</h1>
  <br>
</div>

<div class="d-flex align-items-center justify-content-center">
  <h5>
    <% if @user%>
      Welcome: <%= @user.username%>
    <%end%>
  </h5>
</div>
  
<br>

<div class="container col-md-4 align-items-center justify-content-center">
  <%= form_tag(ingredientview_path, method: :get, class: "d-flex justify-content-between") do %>
      <%= text_field_tag(:param1, nil, class: "form-control", placeholder: "Input recipe name here") %>
      <%= submit_tag("Search", class: "btn btn-dark") %>
  <% end %>
</div>

<br>
<hr>
<br>
<div class="text-center container col-md-7">
  <h4>About Us</h4>
  <p>
    Recipe Anonymous is a unique recipe sharing platform that 
    aims to shift the focus of recipe sharing away from the 
    difficulties of modern websites back to the food. Our objective
    is to connect all cooks around the world so they can spread their food innovations. 
  </p>
</div>
<hr>
<br>
<style>
  .input-group {
    border: 2px solid black; 
  }
</style>

<head>
  <link rel="icon" type="image/x-icon" href="/images/pizza-outline.svg">
</head>

<body>

<br>
<center>
  <h4>Check out these Recipes!</h4>
</center>
<br>

<style>
  .card {
    width: 65rem; 
    height: auto; 
  }
</style>

<div class="container">
  <div class="d-flex align-items-center justify-content-center">
        <div class="card shadow-sm text-light bg-dark" >
          <div class="card-header text-center bg-light text-dark">
            Featured
          </div>
          <% if @set_ingredient.user_shot_url %>
            <div class="image-container" style="width: 100%; padding-bottom: 70%; position: relative; overflow: hidden;">
              <%= image_tag @set_ingredient.user_shot_url, class: "restricted-image", style: "width: 100%; height: 100%; position: absolute; object-fit: cover;" %>
            </div>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= @set_ingredient.name %></h5>
            <p class="card-text"><%= @set_ingredient.description %></p>
            <div class="btn-group btn-dark">
              <%= link_to "View", @set_ingredient, class: "btn btn-sm btn-outline-secondary", role: "button" %>
            </div>
          </div>
      </div>

      <div style="width: 5%;"></div>

        <div class="card shadow-sm text-light bg-dark" >
          <div class="card-header text-center bg-light text-dark">
            Latest Recipe
          </div>
          <% if @latest_ingredient.user_shot_url %>
            <div class="image-container" style="width: 100%; padding-bottom: 70%; position: relative; overflow: hidden;">
              <%= image_tag @latest_ingredient.user_shot_url, class: "restricted-image", style: "width: 100%; height: 100%; position: absolute; object-fit: cover;" %>
            </div>
          <% end %>
          <div class="card-body">
          <h5 class="card-title"><%= @latest_ingredient.name %></h5>
          <p class="card-text"><%= @latest_ingredient.description %></p>
          <div class="btn-group btn-dark">
            <%= link_to "View", @latest_ingredient, class: "btn btn-sm btn-outline-secondary", role: "button" %>
          </div>
        </div>
      </div>

      <div style="width: 5%;"></div>

        <div class="card shadow-sm text-light bg-dark" >
          <div class="card-header text-center bg-light text-dark">
            Random Recipe
          </div>
          <% if @random_ingredient.user_shot_url %>
            <div class="image-container" style="width: 100%; padding-bottom: 70%; position: relative; overflow: hidden;">
              <%= image_tag @random_ingredient.user_shot_url, class: "restricted-image", style: "width: 100%; height: 100%; position: absolute; object-fit: cover;" %>
            </div>
          <% end %>
          <div class="card-body">
          <h5 class="card-title"><%= @random_ingredient.name %></h5>
          <p class="card-text"><%= @random_ingredient.description %></p>
          <div class="btn-group btn-dark">
            <%= link_to "View", @random_ingredient, class: "btn btn-sm btn-outline-secondary", role: "button" %>
          </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<style>
  .card-text {
    max-height: 3 * 1.2em; /* Adjust the line height as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Limit the number of lines */
    -webkit-box-orient: vertical;
  }
</style>

</body>
