<h1>ADMIN-ONLY (INGREDIENTS)</h1>
<% if flash[:error].present? %>
    <div class="alert alert-warning">
        <%= flash[:error] %>
    </div>
<% end %>

<div class="btn-toolbar mb-3 d-flex justify-content-between" role="toolbar">
    <div class="btn-group" role="group">
        <a href="<%= adminuser_path %>" class="btn btn-outline-secondary">Users</a>
        <a href="<%= adminingredient_path %>" class="btn btn-outline-secondary">Ingredients</a>
    </div>
    <div class="input-group">
        <div class="input-group-text" id="btnGroupAddon">Recipe Name</div>
        <%= form_tag(adminingredient_path, method: :get, class: "d-flex justify-content-between") do %>
            <%= text_field_tag(:param1, nil, class: "form-control", placeholder: "Input recipe name here") %>
            <%= submit_tag("Search", class: "btn btn-primary") %>
        <% end %>
    </div>
</div>

<table class="table table-bordered table-striped">   
    <tr>   
        <th>ID</th>   
        <th>name</th> 
        <th>type</th>  
        <th>Created At</th>   
        
    </tr>   
    
    <% @ingredient_list.each do |ingredients| %>   
        <% unless ingredients.admin? %>
            <tr>   
            <td><%= ingredients.id %></td>   
            <td><%= ingredients.name %></td>   
            <td><%= ingredients.created_at %></td>   
            <td><%= button_to 'Delete', admindelingredient_path(param1: ingredients.id), method: :delete, data: { turbo_confirm: "Are you sure you want to permanantly delete this recipe?"} %></td>   
                
            </tr>  
        <% end %> 
    <% end %>   
</table>  