<div class="container col-md-4">
    <div class="text-center">
        <h1>Login</h1>
    </div>
    <% if flash[:alert].present? %>
        <div class="alert alert-warning">
            <%= flash[:alert] %>
        </div>
    <% end %>
    <%= form_with url: signin_path do |form|%>
        <div class="mb-3">
            <%= form.label :username%>
            <%= form.text_field :username, class: "form-control"%>
        </div>
        <div class="mb-3">
            <%= form.label :password%>
            <%= form.password_field :password, class: "form-control"%>
        </div>
        <div class="mb-3">
            <%= form.submit "Login", class:"btn btn-success"%>
        </div>
    <%end%>
</div>
<br>

<div class="container col-md-4">
    <p> New to Recipe Anonymous? </p>
    <div class="btn-group">
      <%= link_to "Sign Up Here!", signup_path, class: "btn btn-primary" %>
    </div>
</div>