<div class="d-flex align-items-center justify-content-center">
  <h1>

      Hello <%= @user.username%>!
  </h1>
</div>
<body>
    <div class="d-flex align-items-center justify-content-center">
    <h3> Account Information </h3>

    </div>
    <br style = “line-height:100;”>
    <div class="d-flex align-items-center justify-content-center">
        <h5> Username: <%= @user.username%> </h5> 
              
    </div>

    <br style = “line-height:100;”>

    <div class="d-flex align-items-center justify-content-center">
        <h5> Password: <%= @user.password%> </h5>
    </div>

    <br style = “line-height:100;”>

    <div class="d-flex align-items-center justify-content-center">
        <h5> Account Created: <%= @user.created_at%> </h5>
    </div>

    <div class="d-flex align-items-center justify-content-center">
        <button id="update_info" class="button" type="button" onclick="confirm()">Update Accunt Information</button>
    </div>
    <br>

    <div class="d-flex align-items-center justify-content-center">
        <h1>
            User Created Recipes
        </h1>
    </div>
<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                <%= image_tag "food1.jpg" %>
                <div class="card-body">
                    <h5 class="card-title">Food title</h5>
                    <p class="card-text">Food description.</p>
                    <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary">Edit</button>
                    </div>
                    <small class="text-body-secondary">9 mins</small>
                    </div>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                <%= image_tag "food1.jpg" %>
                <div class="card-body">
                    <h5 class="card-title">Food title</h5>
                    <p class="card-text">Food description.</p>
                    <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary">Edit</button>
                    </div>
                    <small class="text-body-secondary">9 mins</small>
                    </div>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                <%= image_tag "food1.jpg" %>
                <div class="card-body">
                    <h5 class="card-title">Food title</h5>
                    <p class="card-text">Food description.</p>
                    <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary">Edit</button>
                    </div>
                    <small class="text-body-secondary">9 mins</small>
                    </div>
                </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                <%= image_tag "food1.jpg" %>
                <div class="card-body">
                    <h5 class="card-title">Food title</h5>
                    <p class="card-text">Food description.</p>
                    <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary">Edit</button>
                    </div>
                    <small class="text-body-secondary">9 mins</small>
                    </div>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                <%= image_tag "food1.jpg" %>
                <div class="card-body">
                    <h5 class="card-title">Food title</h5>
                    <p class="card-text">Food description.</p>
                    <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary">Edit</button>
                    </div>
                    <small class="text-body-secondary">9 mins</small>
                    </div>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                <%= image_tag "food1.jpg" %>
                <div class="card-body">
                    <h5 class="card-title">Food title</h5>
                    <p class="card-text">Food description.</p>
                    <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary">Edit</button>
                    </div>
                    <small class="text-body-secondary">9 mins</small>
                    </div>
                </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                <%= image_tag "food1.jpg" %>
                <div class="card-body">
                    <h5 class="card-title">Food title</h5>
                    <p class="card-text">Food description.</p>
                    <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary">Edit</button>
                    </div>
                    <small class="text-body-secondary">9 mins</small>
                    </div>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                <%= image_tag "food1.jpg" %>
                <div class="card-body">
                    <h5 class="card-title">Food title</h5>
                    <p class="card-text">Food description.</p>
                    <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary">Edit</button>
                    </div>
                    <small class="text-body-secondary">9 mins</small>
                    </div>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                <%= image_tag "food1.jpg" %>
                <div class="card-body">
                    <h5 class="card-title">Food title</h5>
                    <p class="card-text">Food description.</p>
                    <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary">Edit</button>
                    </div>
                    <small class="text-body-secondary">9 mins</small>
                    </div>
                </div>
                </div>
            </div>

        </div>
    </div>
</div>
    




</body>
    <div class= "d-flex align-items-center justify-content-center" >
        <%=button_to 'Delete Account', accountuser_path(param1: @user), method: :delete , class: 'btn btn-danger', data: { turbo_confirm: "Are you sure you want to delete this account. Doing so will result in loss of all data associated with the account. This includes any and all recipes you have previously uploaded."} %>
    </div>

<style>
.button {
    background-color: #e7e7e7; color: black;  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}
</style>
