<div class="d-flex align-items-center justify-content-center">
  <h1>

      Hello <%= @user.username%>!
  </h1>
</div>
<body>
    <div class="d-flex align-items-center justify-content-center">
    <h3> Account Information </h3>

    </div>
  <hr>
    <div class="d-flex align-items-center justify-content-center">
        <h5> Username: <%= @user.username%> </h5> 
              
    </div>
    <div class="d-flex align-items-center justify-content-center">
        <h5> Account Created: <%= @user.created_at%> </h5>
    </div>
  <hr>
    <div class="d-flex align-items-center justify-content-center">
        <h1>
            User Created Recipes
        </h1>
    </div>
    <br>

<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <% if @ingredients %>
      <% @ingredients.each do |ingredient| %>
      <%if ingredient.user_infos_id == @user.id%>
        <div id="<%= dom_id(ingredient) %>" class="col">
          <div class="card shadow-sm text-light bg-dark  aspect-ratio-16x9" >
            <div class="image-container" style="width: 100%; padding-bottom: 70%; position: relative; overflow: hidden;">
              <%= image_tag ingredient.user_shot_url, class: "restricted-image", style: "width: 100%; height: 100%; position: absolute; object-fit: cover;" %>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= ingredient.name %></h5>
              <p class="card-text"><%= ingredient.description %></p>
              <div class="btn-group btn-dark">
                <%= link_to "View", ingredient, class: "btn btn-sm btn-outline-secondary", role: "button" %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

<br>
<br>


<div class="d-flex align-items-center justify-content-center">
  <%if @user%>
    <a href="/add">
      <button id="search-recipes" class="btn btn-dark" type="button" onclick="search_recipes()">Create New Recipe</button>
    </a>
  <%end%>
</div>
<br>

    <div class= "d-flex align-items-center justify-content-center" >
        <%=button_to 'Delete Account', accountuser_path(param1: @user), method: :delete , class: 'btn btn-danger', data: { turbo_confirm: "Are you sure you want to delete this account. Doing so will result in loss of all data associated with the account. This includes any and all recipes you have previously uploaded."} %>
    </div>
<br>
<br>
<br>
