<%= form_with(model: ingredient) do |form| %>
    <% if ingredient.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(ingredient.errors.count, "issue") %> when creating your recipe:</h2>
  
        <ul>
          <% ingredient.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"><%= form.label :Name, style: "display: block" %></label>
    <%= form.text_field :name , class:"form-control"%>
  </div>
  <div class="mb-3">
    <%= form.label :Type, style: "display: block" %>
    <%= form.select :my_type_column, options_for_select(['Breakfast', 'Lunch', 'Dinner', 'Dessert']), {}, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :user_shot, "Upload Image", style: "display: block" %>
    <%= form.file_field :user_shot, label: false, input_html: { class: "file-input", type: "file" }, wrapper: false, label_html: { class: "file-label" } %>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"><%= form.label :Description, style: "display: block" %></label>
    <%= form.text_area :description, class: "form-control", style: "height: 150px; overflow-y: scroll;" %>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"><%= form.label :Ingredients, style: "display: block" %></label>
    <%= form.text_area :recipe, class: "form-control", style: "height: 150px; overflow-y: scroll;" %>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"><%= form.label :Instructions, style: "display: block" %></label>
    <%= form.text_area :instructions, class: "form-control", style: "height: 150px; overflow-y: scroll;" %>

  </div>
  <button type="submit" class="btn btn-dark">Submit</button>
  </form>
  <% end %>
