<div id="<%= dom_id ingredient %>">

<div class="row">
  <div class="col">
      <div class="card shadow-sm">
      <%= image_tag "food1.jpg" %>
      <div class="card-body">
          <h5 class="card-title"><%= ingredient.name %></h5>
          <p class="card-text"><%= ingredient.recipe %></p>
          <br></br>
          <p class="card-text"><%= ingredient.instructions %></p>
          </div>
      </div>
      </div>
  </div>
</div>
</div>

