<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>


<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @ingredients.each do |ingredient| %>
        <div id="<%= dom_id(ingredient) %>" class="col">
          <div class="card shadow-sm" >
            <%= image_tag "food1.jpg" %>
            <div class="card-body">
              <h5 class="card-title"><%= ingredient.name %></h5>
              <p class="card-text"><%= truncate(ingredient.description, :length => 125) %></p>
              <div class="btn-group">
                <%= link_to "View", ingredient, class: "btn btn-sm btn-outline-secondary", role: "button" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<br>
<br>

<div class="d-flex align-items-center justify-content-center">
  <%if @user%>
    <a href="/add">
      <button id="search-recipes" class="btn btn-primary" type="button" onclick="search_recipes()">Create New Recipe</button>
    </a>
  <%end%>
</div>

<br>
<br>
